Analisis exploratorio de datos con Python

Tp1 - EDA y Visualizacion

Carga inicial de datos

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('Entrenamieto_ECI_2020.csv')

In [4]:
df.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
ID                                    16947 non-null int64
Region                                16947 non-null object
Territory                             16947 non-null object
Pricing, Delivery_Terms_Quote_Appr    16947 non-null int64
Pricing, Delivery_Terms_Approved      16947 non-null int64
Bureaucratic_Code_0_Approval          16947 non-null int64
Bureaucratic_Code_0_Approved          16947 non-null int64
Submitted_for_Approval                16947 non-null int64
Bureaucratic_Code                     16947 non-null object
Account_Created_Date                  16947 non-null object
Source                                16947 non-null object
Billing_Country                       16947 non-null object
Account_Name                          16947 non-null object
Opportunity_Name                      16947 non-null object
Opportunity_ID                        16947 non-null int64
Sales_Contract_No                     16947 non-null object
Account_Owner                         16947 non-null object
Opportunity_Owner                     16947 non-null object
Account_Type                          16947 non-null object
Opportunity_Type                      16947 non-null object
Quote_Type                            16947 non-null object
Delivery_Terms                        16947 non-null object
Opportunity_Created_Date              16947 non-null object
Brand                                 16947 non-null object
Product_Type                          16947 non-null object
Size                                  16947 non-null object
Product_Category_B                    16947 non-null object
Price                                 16947 non-null object
Currency                              16947 non-null object
Last_Activity                         16947 non-null object
Quote_Expiry_Date                     16947 non-null object
Last_Modified_Date                    16947 non-null object
Last_Modified_By                      16947 non-null object
Product_Family                        16947 non-null object
Product_Name                          16947 non-null object
ASP_Currency                          16947 non-null object
ASP                                   13738 non-null float64
ASP_(converted)_Currency              16947 non-null object
ASP_(converted)                       13738 non-null float64
Planned_Delivery_Start_Date           16947 non-null object
Planned_Delivery_End_Date             16947 non-null object
Month                                 16947 non-null object
Delivery_Quarter                      16947 non-null object
Delivery_Year                         16947 non-null int64
Actual_Delivery_Date                  16947 non-null object
TRF                                   16947 non-null int64
Total_Amount_Currency                 16947 non-null object
Total_Amount                          16888 non-null float64
Total_Taxable_Amount_Currency         16947 non-null object
Total_Taxable_Amount                  16947 non-null float64
Stage                                 16947 non-null object
Prod_Category_A                       16947 non-null object
dtypes: float64(4), int64(9), object(39)
memory usage: 6.7+ MB

Analisis de variables categoricas

In [6]:
regiones= df['Region']

In [10]:
regiones.value_counts()

Japan          4892
EMEA           4664
Americas       3945
APAC           3262
Middle East     184
Name: Region, dtype: int64

In [11]:
df.columns

Index(['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',
       'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval',
       'Bureaucratic_Code_0_Approved', 'Submitted_for_Approval',
       'Bureaucratic_Code', 'Account_Created_Date', 'Source ',
       'Billing_Country', 'Account_Name', 'Opportunity_Name', 'Opportunity_ID',
       'Sales_Contract_No', 'Account_Owner', 'Opportunity_Owner',
       'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',
       'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size',
       'Product_Category_B', 'Price', 'Currency', 'Last_Activity',
       'Quote_Expiry_Date', 'Last_Modified_Date', 'Last_Modified_By',
       'Product_Family', 'Product_Name', 'ASP_Currency', 'ASP',
       'ASP_(converted)_Currency', 'ASP_(converted)',
       'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month',
       'Delivery_Quarter', 'Delivery_Year', 'Actual_Delivery_Date', 'TRF',
       'Total_Amount_Currency', 'Total_Amount',
       'Total_Taxable_Amount_Currency', 'Total_Taxable_Amount', 'Stage',
       'Prod_Category_A'],
      dtype='object')

In [12]:
territorios= df['Territory']

In [13]:
territorios.value_counts()

None                    4999
Germany                 1682
NW America              1568
Australia               1208
India                    809
NE America               760
Japan                    681
Netherlands              533
SE America               493
France                   449
Singapore                441
United Kingdom           313
Belgium                  285
Italy                    283
Spain                    268
Central US               254
China (PRC)              218
SW America               206
Thailand                 173
Indonesia                154
Austria                  145
Philippines              109
Jordan                   102
Canada                    74
Luxembourg                70
Portugal                  66
Poland                    60
Vietnam                   51
Cyprus                    44
New Zealand               38
                        ...
Kazakhstan                 7
Pakistan                   6
Macedonia                  6
Saudi Arabia               6
Malta                      6
Tunisia                    5
Ukraine                    5
Bulgaria                   5
Malaysia                   5
Belarus                    4
Cambodia                   4
Oman                       4
Bosnia & Herzegovina       4
Kuwait                     4
Morocco                    3
South East Asia            2
UAE (Others)               2
Romania                    2
Armenia                    2
Kosovo                     2
Lebanon                    2
Albania                    2
Monaco                     1
Egypt                      1
Slovenia                   1
Burma                      1
Georgia                    1
Solomon Islands            1
Czech Republic             1
Croatia                    1
Name: Territory, Length: 76, dtype: int64

In [14]:
codigosburocraticos = df ['Bureaucratic_Code']

In [15]:
codigosburocraticos.value_counts()

Bureaucratic_Code_4    12587
Bureaucratic_Code_5     3803
Bureaucratic_Code_1      261
Bureaucratic_Code_2      242
Bureaucratic_Code_0       51
Bureaucratic_Code_3        2
Bureaucratic_Code_6        1
Name: Bureaucratic_Code, dtype: int64

In [23]:
source= df['Source ']

In [24]:
source.value_counts()

None         9497
Source_7     2965
Source_9     1459
Source_11    1421
Source_13     786
Source_3      418
Source_1      137
Source_10     106
Source_2       86
Source_4       43
Source_6       19
Source_0        7
Source_12       2
Source_5        1
Name: Source , dtype: int64

In [26]:
 paisFactura= df['Billing_Country'].value_counts()

In [27]:
paisFactura

Japan                                         4879
United States                                 3802
Germany                                       1979
Australia                                     1169
India                                          672
Netherlands                                    563
Singapore                                      432
France                                         396
Spain                                          317
Italy                                          295
United Kingdom                                 284
Belgium                                        226
China                                          222
Thailand                                       195
Austria                                        145
Indonesia                                      142
Philippines                                    138
Luxembourg                                     136
Canada                                         120
Jordan                                         106
Sri Lanka                                      105
Poland                                          53
Cyprus                                          46
United Arab Emirates                            41
New Zealand                                     39
Norway                                          38
Viet Nam                                        37
Taiwan                                          34
Portugal                                        27
None                                            27
                                              ...
Myanmar                                          4
Macedonia, the former Yugoslav Republic of       4
Cambodia                                         4
Bulgaria                                         4
Kuwait                                           3
Ghana                                            2
Albania                                          2
Estonia                                          2
Armenia                                          2
Belarus                                          2
Jamaica                                          2
Reunion                                          2
Slovakia                                         2
Bahrain                                          2
Palestine                                        2
Ecuador                                          1
Dominican Republic                               1
Morocco                                          1
Chile                                            1
Malaysia                                         1
Liechtenstein                                    1
Libya                                            1
Argentina                                        1
Peru                                             1
Kenya                                            1
Oman                                             1
Belize                                           1
Bosnia and Herzegovina                           1
Colombia                                         1
Bangladesh                                       1
Name: Billing_Country, Length: 80, dtype: int64

In [28]:
nombreCuentaCliente=df['Account_Name'].value_counts()

In [29]:
nombreCuentaCliente

Account_Name_1888    2124
Account_Name_1836     886
Account_Name_25       752
Account_Name_1991     586
Account_Name_1642     397
Account_Name_1508     355
Account_Name_1440     317
Account_Name_533      283
Account_Name_263      249
Account_Name_660      231
Account_Name_931      215
Account_Name_1994     152
Account_Name_1274     144
Account_Name_271      131
Account_Name_1757     127
Account_Name_1693     125
Account_Name_501      117
Account_Name_1067     116
Account_Name_1075     106
Account_Name_1448     101
Account_Name_1411      93
Account_Name_266       91
Account_Name_1794      91
Account_Name_1378      89
Account_Name_686       86
Account_Name_1468      84
Account_Name_1313      76
Account_Name_5         75
Account_Name_702       74
Account_Name_1100      73
                     ...
Account_Name_905        1
Account_Name_1959       1
Account_Name_1598       1
Account_Name_1733       1
Account_Name_803        1
Account_Name_510        1
Account_Name_814        1
Account_Name_666        1
Account_Name_449        1
Account_Name_1474       1
Account_Name_1564       1
Account_Name_1948       1
Account_Name_1531       1
Account_Name_18         1
Account_Name_1961       1
Account_Name_1577       1
Account_Name_437        1
Account_Name_377        1
Account_Name_749        1
Account_Name_914        1
Account_Name_28         1
Account_Name_676        1
Account_Name_197        1
Account_Name_1680       1
Account_Name_1331       1
Account_Name_542        1
Account_Name_232        1
Account_Name_423        1
Account_Name_1072       1
Account_Name_1399       1
Name: Account_Name, Length: 1635, dtype: int64

In [30]:
nombreOportunidad = df['Opportunity_Name'].value_counts()

In [31]:
nombreOportunidad

Opportunity_Name_5036     36
Opportunity_Name_9795     36
Opportunity_Name_12179    26
Opportunity_Name_11461    26
Opportunity_Name_6835     24
Opportunity_Name_1661     18
Opportunity_Name_10944    16
Opportunity_Name_9628     16
Opportunity_Name_10131    16
Opportunity_Name_4889     16
Opportunity_Name_10945    16
Opportunity_Name_10946    16
Opportunity_Name_809      14
Opportunity_Name_847      14
Opportunity_Name_10928    14
Opportunity_Name_10136    14
Opportunity_Name_11230    13
Opportunity_Name_9976     13
Opportunity_Name_10929    13
Opportunity_Name_10434    13
Opportunity_Name_11914    12
Opportunity_Name_4769     12
Opportunity_Name_5331     12
Opportunity_Name_4771     12
Opportunity_Name_2380     12
Opportunity_Name_10653    11
Opportunity_Name_3422     11
Opportunity_Name_257      11
Opportunity_Name_12287    11
Opportunity_Name_10951    11
                          ..
Opportunity_Name_1561      1
Opportunity_Name_8676      1
Opportunity_Name_2487      1
Opportunity_Name_12887     1
Opportunity_Name_3506      1
Opportunity_Name_5966      1
Opportunity_Name_1809      1
Opportunity_Name_10120     1
Opportunity_Name_4831      1
Opportunity_Name_2418      1
Opportunity_Name_5215      1
Opportunity_Name_1806      1
Opportunity_Name_2305      1
Opportunity_Name_6325      1
Opportunity_Name_6340      1
Opportunity_Name_10714     1
Opportunity_Name_9222      1
Opportunity_Name_8613      1
Opportunity_Name_6319      1
Opportunity_Name_11416     1
Opportunity_Name_3891      1
Opportunity_Name_5595      1
Opportunity_Name_9         1
Opportunity_Name_6339      1
Opportunity_Name_6916      1
Opportunity_Name_12357     1
Opportunity_Name_11057     1
Opportunity_Name_8742      1
Opportunity_Name_5957      1
Opportunity_Name_8851      1
Name: Opportunity_Name, Length: 9841, dtype: int64

In [32]:
responsableCuenta = df['Account_Owner'].value_counts()

In [33]:
responsableCuenta

Person_Name_50    3730
Person_Name_13    1328
Person_Name_8     1286
Person_Name_43    1241
Person_Name_18    1093
Person_Name_3      875
Person_Name_32     682
Person_Name_4      664
Person_Name_65     631
Person_Name_64     577
Person_Name_16     439
Person_Name_46     381
Person_Name_45     357
Person_Name_2      333
Person_Name_38     326
Person_Name_42     304
Person_Name_66     258
Person_Name_60     227
Person_Name_49     201
Person_Name_59     201
Person_Name_62     179
Person_Name_54     178
Person_Name_52     172
Person_Name_5      166
Person_Name_21     166
Person_Name_55     138
Person_Name_63     138
Person_Name_51     108
Person_Name_39     104
Person_Name_33      86
Person_Name_14      74
Person_Name_61      72
Person_Name_44      57
Person_Name_41      51
Person_Name_9       50
Person_Name_58      15
Person_Name_26      12
Person_Name_11      10
Person_Name_29       8
Person_Name_25       7
Person_Name_36       7
Person_Name_23       4
Person_Name_34       3
Person_Name_35       2
Person_Name_17       2
Person_Name_47       2
Person_Name_10       1
Person_Name_20       1
Name: Account_Owner, dtype: int64

In [38]:
responsableOportunidad = df['Opportunity_Owner'].value_counts()

In [39]:
responsableOportunidad

Person_Name_50    3781
Person_Name_8     1422
Person_Name_13    1254
Person_Name_18     982
Person_Name_43     838
Person_Name_3      832
Person_Name_4      687
Person_Name_32     686
Person_Name_19     615
Person_Name_64     516
Person_Name_16     446
Person_Name_23     422
Person_Name_46     329
Person_Name_65     322
Person_Name_49     286
Person_Name_48     256
Person_Name_38     254
Person_Name_66     243
Person_Name_44     240
Person_Name_39     211
Person_Name_60     207
Person_Name_62     174
Person_Name_52     173
Person_Name_54     171
Person_Name_5      169
Person_Name_59     134
Person_Name_45     128
Person_Name_2      118
Person_Name_41     113
Person_Name_51     111
Person_Name_55      91
Person_Name_33      87
Person_Name_14      82
Person_Name_11      77
Person_Name_30      69
Person_Name_63      67
Person_Name_40      50
Person_Name_25      49
Person_Name_20      49
Person_Name_22      43
Person_Name_26      33
Person_Name_12      23
Person_Name_37      21
Person_Name_42      19
Person_Name_34      14
Person_Name_61      13
Person_Name_29      13
Person_Name_36       8
Person_Name_58       8
Person_Name_56       6
Person_Name_35       2
Person_Name_10       2
Person_Name_0        1
Name: Opportunity_Owner, dtype: int64

In [40]:
tipoCuentaCliente = df ['Account_Type'].value_counts()

In [41]:
tipoCuentaCliente

Account_Type_2    8832
Account_Type_0    5868
Account_Type_5    1943
Account_Type_1     165
None               112
Account_Type_6      17
Account_Type_4      10
Name: Account_Type, dtype: int64

In [42]:
tipoOportunidad = df['Opportunity_Type'].value_counts()

In [43]:
tipoOportunidad

Opportunity_Type_1     6819
Opportunity_Type_7     5763
Opportunity_Type_19    1900
Opportunity_Type_8     1458
Opportunity_Type_12     279
Opportunity_Type_3      275
Opportunity_Type_20     175
Opportunity_Type_2       70
Opportunity_Type_4       51
Opportunity_Type_10      34
Opportunity_Type_9       23
Opportunity_Type_14      15
Opportunity_Type_5       14
Opportunity_Type_18      11
Opportunity_Type_22      10
Opportunity_Type_15       9
Opportunity_Type_17       8
Opportunity_Type_0        8
Opportunity_Type_21       6
Opportunity_Type_23       5
Opportunity_Type_13       4
Opportunity_Type_16       4
Opportunity_Type_11       3
Opportunity_Type_6        2
Opportunity_Type_24       1
Name: Opportunity_Type, dtype: int64

In [44]:
tipoPresupuesto= df['Quote_Type'].value_counts()

In [45]:
tipoPresupuesto

Non Binding    16777
Binding          170
Name: Quote_Type, dtype: int64

In [46]:
terminosEntrega = df['Delivery_Terms'].value_counts()

In [47]:
terminosEntrega

Delivery_Terms_4    7712
Delivery_Terms_2    4633
Delivery_Terms_1    2936
Delivery_Terms_6     781
Delivery_Terms_5     636
Delivery_Terms_8     164
Delivery_Terms_3      41
Delivery_Terms_7      38
Delivery_Terms_0       6
Name: Delivery_Terms, dtype: int64

In [48]:
MarcaProducto= df['Brand'].value_counts()

In [49]:
MarcaProducto

None        15911
Other         607
Brand_9       140
Brand_5        48
Brand_24       38
Brand_11       34
Brand_25       24
Brand_10       22
Brand_22       20
Brand_13       17
Brand_7        17
Brand_21       17
Brand_20       10
Brand_23       10
Brand_27        5
Brand_17        5
Brand_0         4
Brand_4         4
Brand_2         4
Brand_12        3
Brand_16        2
Brand_6         1
Brand_1         1
Brand_19        1
Brand_26        1
Brand_3         1
Name: Brand, dtype: int64

In [53]:
tipoProducto= df['Product_Type'].value_counts()

In [54]:
tipoProducto

None              15935
Other               515
Product_Type_3      179
Product_Type_1      142
Product_Type_0       94
Product_Type_4       73
Product_Type_2        9
Name: Product_Type, dtype: int64

In [55]:
tamanioProducto= df['Size'].value_counts()

In [57]:
tamanioProducto

None      15967
Other       394
Size_3      356
Size_4      196
Size_1       25
Size_0        7
Size_2        2
Name: Size, dtype: int64

In [58]:
categaoriaBProducto= df['Product_Category_B'].value_counts()

In [59]:
categaoriaBProducto

None                     15928
Other                      523
Product_Category_B_2        59
Product_Category_B_12       51
Product_Category_B_7        47
Product_Category_B_4        37
Product_Category_B_5        36
Product_Category_B_17       27
Product_Category_B_1        24
Product_Category_B_8        23
Product_Category_B_3        23
Product_Category_B_19       22
Product_Category_B_11       21
Product_Category_B_13       18
Product_Category_B_16       17
Product_Category_B_9        17
Product_Category_B_24       16
Product_Category_B_20        9
Product_Category_B_6         9
Product_Category_B_21        8
Product_Category_B_15        8
Product_Category_B_23        5
Product_Category_B_26        4
Product_Category_B_14        4
Product_Category_B_0         3
Product_Category_B_10        3
Product_Category_B_27        3
Product_Category_B_22        2
Name: Product_Category_B, dtype: int64

In [60]:
moneda=df['Currency'].value_counts()

In [61]:
moneda

None    16052
EUR       475
USD       420
Name: Currency, dtype: int64

In [62]:
familiaProducto=df['Product_Family'].value_counts()

In [63]:
familiaProducto

Product_Family_77     1345
Product_Family_133    1249
Product_Family_132     763
Product_Family_212     636
Product_Family_100     619
Product_Family_85      596
Product_Family_115     540
Product_Family_226     524
Product_Family_109     499
Product_Family_208     478
Product_Family_4       474
Product_Family_128     436
Product_Family_116     421
Product_Family_164     419
Product_Family_140     385
Product_Family_209     381
Product_Family_230     350
Product_Family_29      345
Product_Family_127     297
Product_Family_139     278
Product_Family_20      266
Product_Family_213     259
Product_Family_121     246
Product_Family_170     238
Product_Family_193     233
Product_Family_73      217
Product_Family_158     204
Product_Family_201     180
Product_Family_24      167
Product_Family_0       165
                      ...
Product_Family_93        2
Product_Family_242       1
Product_Family_236       1
Product_Family_245       1
Product_Family_103       1
Product_Family_241       1
Product_Family_43        1
Product_Family_59        1
Product_Family_66        1
Product_Family_46        1
Product_Family_153       1
Product_Family_182       1
Product_Family_38        1
Product_Family_244       1
Product_Family_40        1
Product_Family_239       1
Product_Family_48        1
Product_Family_52        1
Product_Family_33        1
Product_Family_45        1
Product_Family_159       1
Product_Family_166       1
Product_Family_51        1
Product_Family_34        1
Product_Family_53        1
Product_Family_177       1
Product_Family_79        1
Product_Family_124       1
Product_Family_217       1
Product_Family_55        1
Name: Product_Family, Length: 227, dtype: int64

In [64]:
nombreProducto=df['Product_Name'].value_counts()

In [65]:
nombreProducto

Product_Name_100    976
Product_Name_226    836
Product_Name_231    579
Product_Name_491    524
Product_Name_4      474
Product_Name_192    442
Product_Name_111    388
Product_Name_132    383
Product_Name_495    350
Product_Name_29     345
Product_Name_148    340
Product_Name_452    336
Product_Name_167    333
Product_Name_241    319
Product_Name_220    317
Product_Name_209    287
Product_Name_20     266
Product_Name_181    219
Product_Name_439    212
Product_Name_214    179
Product_Name_246    178
Product_Name_24     167
Product_Name_0      165
Product_Name_85     158
Product_Name_23     157
Product_Name_96     145
Product_Name_448    131
Product_Name_99     127
Product_Name_128    122
Product_Name_6      121
                   ...
Product_Name_53       1
Product_Name_136      1
Product_Name_207      1
Product_Name_179      1
Product_Name_475      1
Product_Name_236      1
Product_Name_235      1
Product_Name_504      1
Product_Name_375      1
Product_Name_125      1
Product_Name_489      1
Product_Name_75       1
Product_Name_183      1
Product_Name_354      1
Product_Name_33       1
Product_Name_142      1
Product_Name_364      1
Product_Name_215      1
Product_Name_89       1
Product_Name_263      1
Product_Name_511      1
Product_Name_346      1
Product_Name_253      1
Product_Name_73       1
Product_Name_359      1
Product_Name_151      1
Product_Name_67       1
Product_Name_487      1
Product_Name_55       1
Product_Name_187      1
Name: Product_Name, Length: 456, dtype: int64

In [67]:
nomedaPrecioPromedio=df['ASP_Currency'].value_counts()

In [68]:
nomedaPrecioPromedio

USD    7361
JPY    4522
EUR    4503
AUD     556
GBP       5
Name: ASP_Currency, dtype: int64

In [69]:
nomedaPrecioPromedioVariable=df['ASP_(converted)_Currency'].value_counts()

In [70]:
nomedaPrecioPromedioVariable

USD    16947
Name: ASP_(converted)_Currency, dtype: int64

In [71]:
trimestrePlaneadoEntrega=df['Delivery_Quarter'].value_counts()

In [72]:
trimestrePlaneadoEntrega

Q2    4443
Q1    4317
Q4    4144
Q3    4043
Name: Delivery_Quarter, dtype: int64

In [73]:
monedaMontoGravadoTotal=df['Total_Taxable_Amount_Currency'].value_counts()

In [74]:
monedaMontoGravadoTotal

USD    7347
JPY    4525
EUR    4518
AUD     553
GBP       4
Name: Total_Taxable_Amount_Currency, dtype: int64

In [76]:
estado=df['Stage'].value_counts()

In [77]:
estado

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

In [78]:
categoriaAProducto=df['Prod_Category_A'].value_counts()

In [79]:
categoriaAProducto

Prod_Category_A_None    16947
Name: Prod_Category_A, dtype: int64

Analisis de Oportunidad(Se retoma en notebook aparte)

In [81]:
oportunidad5036 = df.loc[df.Opportunity_Name.str.contains('Opportunity_Name_5036'),:]

In [82]:
oportunidad5036

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
16223,20112,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,640080.0,USD,31053609.6,Closed Won,Prod_Category_A_None
16224,20115,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1791948.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16225,20118,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16226,20122,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,895910.4,USD,31053609.6,Closed Won,Prod_Category_A_None
16227,20125,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,2,USD,1536012.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16228,20128,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16229,20132,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,2,USD,1151942.4,USD,31053609.6,Closed Won,Prod_Category_A_None
16230,20135,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,2,USD,1280076.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16231,20138,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16232,20141,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,447955.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16233,20145,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,192051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16234,20151,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,64025.6,USD,31053609.6,Closed Won,Prod_Category_A_None
16235,20245,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q3,2016,NaT,4,USD,2304019.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16236,20185,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,192076.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16237,20189,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,2,USD,1088035.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16238,20192,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,640080.0,USD,31053609.6,Closed Won,Prod_Category_A_None
16239,20195,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1984000.0,USD,31053609.6,Closed Won,Prod_Category_A_None
16240,20199,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,192076.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16241,20202,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,640080.0,USD,31053609.6,Closed Won,Prod_Category_A_None
16242,20205,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1791948.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16243,20208,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16244,20212,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,640080.0,USD,31053609.6,Closed Won,Prod_Category_A_None
16245,20215,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1791948.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16246,20218,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16247,20222,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,640080.0,USD,31053609.6,Closed Won,Prod_Category_A_None
16248,20225,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1791948.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16249,20228,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16250,20232,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,1,USD,640080.0,USD,31053609.6,Closed Won,Prod_Category_A_None
16251,20235,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1791948.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16252,20238,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16253,20241,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q3,2016,NaT,2,USD,1023926.4,USD,31053609.6,Closed Won,Prod_Category_A_None
16254,20248,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q3,2016,NaT,0,USD,12883.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16255,20251,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1791948.8,USD,31053609.6,Closed Won,Prod_Category_A_None
16256,20255,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,0,USD,128051.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16257,20258,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,2,USD,1088035.2,USD,31053609.6,Closed Won,Prod_Category_A_None
16258,20261,Americas,NW America,1,1,1,0,0,Bureaucratic_Code_2,8/22/2013,...,Q2,2016,NaT,3,USD,1984000.0,USD,31053609.6,Closed Won,Prod_Category_A_None

In [ ]:
###Â¿Por quÃ© Total_Taxable_Amount es a veces mayor que Total_Amount?
###Cada fila del dataframe es un item de una oportunidad. Si agrupan por Opportunity_Name y suman los Total_Amount deberÃ­an llegar a Total_Taxable_Amount. Si esto no se cumple en todos, es algo para analizar en el TP.